.banner {
    background-color: silver;
    color: white;
    text-align: center;
    margin-top: 75px;
    padding: 50px 0;
}

#small-kitty {
    height: 200px;
    width: 200px;
}

#kitty {
    color: blueviolet;
    font-size: 50px;
}

.bold {
    font-weight: 900;
}